<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/layouts :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="fragments/layouts :: header-users(activeLink='Listar Usuarios')"></header>

	<main class="container">
		<div class="row">
			<div class="col s12 m12 offset-l2">
				<h4 th:text="${titlePage}"></h4>
			</div>
			<div class="col s12 m12 offset-l2">
				<table>
					<thead>
						<tr>
							<th>#</th>
							<th>Usuario</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Estado</th>
							<th>Roles</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each=" usuario, iterador :${listaUsuarios}">
							<td th:text="${iterador.index + 1}"></td>
							<td th:text="${usuario.usuario}"></td>
							<td th:text="${usuario.personaModel.nombres}"></td>
							<td th:text="${usuario.personaModel.apellidos}"></td>
							<td th:text="${usuario.enabled ? 'Activo':'Inactivo'}"></td>
							<td>
								<a href="#">
									<i class="material-icons">remove_red_eye</i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<footer th:replace="fragments/layouts :: footer"></footer>
</body>
</html>