<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/layouts :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="fragments/layouts :: header-users(activeLink='Listar Modulos')"></header>

	<main class="container">
		<div class="row">
			<div class="col s12 m12 offset-l2">
				<h4 th:text="${titlePage}"></h4>
			</div>
			<div class="col s12 m12 offset-l2">
				<table>
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre</th>
							<th>Etiqueta</th>
							<th>Icono</th>
							<th>Paginas</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="modulo, iterador : ${listaModulo}">
							<td th:text="${iterador.index + 1}"></td>
							<td th:text="${modulo.nombre}"></td>
							<td th:text="${modulo.label}"></td>
							<td>
								<i class="material-icons" th:text="${modulo.icono}"></i>
							</td>
							<td>
								<a th:href="${'/modulos/paginas/' + modulo.idModulo}">
									<i class="material-icons">remove_red_eye</i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<footer th:replace="fragments/layouts :: footer(paramerJs='/js/modulos.js')"></footer>
</body>
</html>
