<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head">
    <title>index</title>
</head>
<body>

    <div th:replace="fragments/header::header"></div>

    <main class="container mySpace">
        <div class="jumbotron">
            <h2 class="text text-center">Welcome to Schedule</h2>
            <p>
                Here you can schedule your day, week or month.
            </p>
        </div>
    </main>

    <div th:replace="fragments/footer::footer"></div>

</body>
</html>